@import "styles/index.scss";

.modal {
  :global {
    .ant-modal-content {
      border-radius: 10px;
    }
    .ant-modal-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .ant-modal-close-x {
      background-color: $background;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $gray-dark;
      }
    }
  }
}
