@import "styles/variables.scss";

.modal {
  :global {
    .ant-modal-content {
      border-radius: 12px;
      box-shadow: 0 3px 10px $light-dark;
    }

    .ant-modal-header {
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }
    .ant-modal-title {
      font-weight: bold;
      font-size: 20px;
    }

    .ant-modal-close {
      top: 8px;
      right: 8px;
      border-radius: 50%;
      background-color: $gray;
    }

    .ant-modal-close-x {
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    .ant-modal-body {
      font-size: 16px;
    }

    .ant-modal-footer {
      .ant-btn {
        border: none;
        border-radius: 7px;
        color: $blue;
        font-weight: 600;
        width: 150px;
      }
      .ant-btn:hover {
        background-color: $gray;
        color: $blue;
        font-weight: 600;
      }

      .ant-btn-primary {
        color: $white;
      }

      .ant-btn-primary:hover {
        background-color: $blue;
        color: white;
      }
    }
  }
}
