@import "styles/variables.scss";

.input {
  width: 100%;
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 6px;
}

.bigInput {
}

.mediumInput {
  width: 100%;
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 6px;
}

.smallInput {
  width: 100%;
  font-size: 14px;
  padding: 7px 8px;
  border-radius: 6px;
}
