$background: #e9ebee;
$blue: #1877f2;
$light-blue: #77a7ff;
$green: #42b72a;
$green-hover: #3ba525;
$gray: #cccccc;
$gray-dark: #e4e5e9;
$black: #000000;
$light-dark: rgba(0, 0, 0, 0.4);
$light-dark-2: rgba(0, 0, 0, 0.1);
$light-darker: rgba(0, 0, 0, 0.6);
$white: #fff;
$secondary-text: #65676b;

$header-height: 56px;

$box-shadow-thick: rgba(0, 0, 0, 0.24) 0px 3px 3px;
$box-shadow-thin: rgba(0, 0, 0, 0.24) 0px 1px 1px;
