@import "styles/index.scss";

.homeContentWrapper {
  position: relative;
}
.homeContent {
  overflow: auto;
  height: calc(100vh - 56px);
}

.listMessage {
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 98%;

  &:hover {
    overflow-y: auto;
  }
}
