@import "styles/index.scss";

.reactionWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  .reactionLeft {
    display: flex;
    color: $secondary-text;
  }

  .reactionRight {
    display: flex;
    color: $secondary-text;
    div {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.imgReaction {
  width: 18px;
  height: 18px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.likeWrapper {
  position: relative;

  .sectionLikeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-text;
    border-radius: 5px;
    padding: 5px 0;

    cursor: pointer;
    &:hover {
      background-color: $gray-dark;
    }
    .sectionLike {
      width: 18px;
      height: 18px;
      object-fit: cover;
      margin-right: 5px;
    }
  }
}

.reactionEmoji {
  position: absolute;
  top: -56px;
  background-color: white;
  z-index: 2;
  left: 0;
  display: flex;
  width: fit-content;
  border: 1px solid $background;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
  .reactionEmojiItem {
    transition: transform 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }

    .reactionEmojiIcon {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.likeImg {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/TSG7lwcuIjw.png");
  background-position: 0 -272px;
  background-size: 25px 741px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
  margin-right: 5px;
}

.commentImg {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/TSG7lwcuIjw.png");
  background-position: 0px -234px;
  background-size: 25px 741px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
  margin-right: 5px;
}

.shareImg {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/TSG7lwcuIjw.png");
  background-position: 0px -291px;
  background-size: 25px 741px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
  margin-right: 5px;
}
