@import "styles/index.scss";

.headerContainer {
  height: $header-height;
  width: 100%;
  background-color: $white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  :global {
    .ant-row {
      height: 100%;
    }

    .ant-col {
      height: 100%;
    }
  }
}

.logo {
  width: 40px;
  height: 40px;
}

.searchBox {
  height: 40px;
  width: 240px;
  background-color: $background;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.menu {
  :global {
    .ant-menu-horizontal {
      width: 100%;
      border-bottom: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .ant-menu-item {
      height: 100%;
    }
  }
}

.rightHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.avatarProfile {
  display: flex;
  text-transform: capitalize;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: $background;
  border-radius: 20px;
  padding: 10px 5px;
  margin-right: 20px;
  width: fit-content;
  &:hover {
    background-color: $gray-dark;
  }
  img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.roundedButton {
  margin-right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $gray-dark;
  }
}
