@import "styles/variables.scss";

.button {
  border: none;
  width: 330px;
  border-radius: 6px;
  padding: 14px 16px;
  font-size: 20px;
  height: 55px;
  background-color: $blue;
  font-weight: bold;
}
