@import "styles/index.scss";

.menu {
  width: 600px;
  background-color: $background;
  height: 90vh;

  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 100;
  max-height: 90vh;
  box-shadow: $box-shadow-thick;
  padding: 10px;
  border-radius: 7px;
  padding: 10px;

  .menuWrapper {
    display: flex;
    justify-content: space-around;

    .leftSide {
      width: 65%;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: $box-shadow-thin;
    }

    .rightSide {
      width: 30%;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: $box-shadow-thin;
    }
  }
}

.settingWrapper {
  position: absolute;
  top: 50px;
  z-index: 100;
  right: 10px;
  width: 360px;
  background-color: white;
  border: 1px solid $gray-dark;
  border-radius: 10px;
  box-shadow: $box-shadow-thin;
  padding: 15px;

  .switchAccount {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      font-size: 1rem;
      font-weight: 500;
    }
    .iconNext {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/g6r2MYC1nQK.png");
      background-position: 0px -98px;
      background-size: auto;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &:hover {
      background-color: $background;
      border-radius: 10px;
    }
  }
}

.logOut {
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: $background;
    border-radius: 10px;
  }
  .iconWrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $gray-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    .iconLogout {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/QnBF2xVFFiX.png");
      background-position: 0px -46px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;
  }
}

.arrowHeader {
  display: flex;
  align-items: center;

  .arrowButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $background;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:hover {
      background-color: $gray-dark;
    }

    .arrowRight {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/AIv5-9MmZfT.png");
      background-position: 0px -46px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.text {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: $secondary-text;
}

.listAccount {
  .accountItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    padding: 6px;

    &:hover {
      background-color: $background;
      border-radius: 10px;
    }
    .accountInfo {
      display: flex;
      align-items: center;

      .image {
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        margin-right: 10px;
      }

      .name {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .xIcon {
      .icon {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/CD0TlRQIEkM.png");
        background-position: 0px -50px;
        background-size: 25px 577px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
}

.loginOther {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  &:hover {
    background-color: $background;
    border-radius: 10px;
  }

  .iconAdd {
    margin-right: 10px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 50%;
    background-color: $background;
    i {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/T0oDwaG-b1o.png");
      background-position: 0px -151px;
      background-size: 25px 286px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  .loginText {
    font-size: 16px;
    font-weight: 500;
  }
}
