@import "styles/index.scss";

.rightNavWrapper {
  padding: 15px 10px;
  height: calc(100vh - 56px);
  overflow: hidden;

  &:hover {
    overflow: auto;
  }
}

.rightNavItem {
  height: 50px;
  display: flex;
  margin: 5px 0px;
  align-items: center;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

  &:hover {
    background-color: $gray-dark;
  }
  .textNew {
    font-size: 12px;
    color: $blue;
  }
}

.shortCut {
  font-size: 20px;
  color: rgb(32, 32, 32);
}

.pageWrapper {
  width: 70%;
  margin-top: 25px;
}

.chatItem {
  position: relative;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  border-radius: 10px;
  background: $background;
  margin-bottom: 10px;
  margin-right: 10px;

  &:hover {
    background-color: $gray-dark;
  }
}

.onlineCircle {
  position: absolute;
  left: 30px;
  bottom: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
}

.storyWrapper {
  display: flex;
  margin-bottom: 20px;
}
.storyItem {
  width: 121px;
  height: 215px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
  }

  .name {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    z-index: 2;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $light-dark;
    border-radius: 10px;
  }
}

.myStory {
  cursor: pointer;
  width: 121px;
  height: 215px;
  position: relative;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: white;
  .img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .icAdd {
    width: 36px;
    height: 36px;
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
  }
}

.newPostWrapper {
  height: 123px;
  border-radius: 10px;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 20px;

  .newPostInput {
    display: flex;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }

    div {
      cursor: pointer;
      height: 40px;
      border-radius: 20px;
      background-color: $background;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 10px;

      &:hover {
        background-color: $gray-dark;
      }
    }
  }

  .newPostAction {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    div {
      cursor: pointer;
      padding: 5px 15px;
      border-radius: 5px;
      &:hover {
        background-color: $gray-dark;
      }
    }
  }
}

.mainContent {
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  .headerContent {
    display: flex;
    justify-content: space-between;
    .headerRight {
      display: flex;
      .logo {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.contentMedia {
  .img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
