@import "styles/index.scss";

.wrapper {
  background-color: $background;
  height: 100vh;
}
.headerContainer {
  height: $header-height;
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  padding-left: 10px;
}

.settingWrapper {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 360px;
  background-color: white;
  border: 1px solid $gray-dark;
  border-radius: 10px;
  box-shadow: $box-shadow-thin;
  padding: 15px;

  .switchAccount {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      font-size: 1rem;
      font-weight: 500;
    }
    .iconNext {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/g6r2MYC1nQK.png");
      background-position: 0px -98px;
      background-size: auto;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &:hover {
      background-color: $background;
      border-radius: 10px;
    }
  }
}

.logOut {
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: $background;
    border-radius: 10px;
  }
  .iconWrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $gray-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    .iconLogout {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/QnBF2xVFFiX.png");
      background-position: 0px -46px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;
  }
}

.formWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .form {
    border: 1px solid $gray-dark;
    box-shadow: $box-shadow-thin;
    border-radius: 10px;
    width: 500px;
    background-color: white;

    .title {
      padding: 16px 18px;
      border-bottom: 1px solid $gray;
    }

    .content {
      padding: 16px 18px;
      font-size: 1rem;
    }
  }
}

.arrowHeader {
  display: flex;
  align-items: center;

  .arrowButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $background;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:hover {
      background-color: $gray-dark;
    }

    .arrowRight {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/AIv5-9MmZfT.png");
      background-position: 0px -46px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.text {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: $secondary-text;
}

.listAccount {
  .accountItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    padding: 6px;

    &:hover {
      background-color: $background;
      border-radius: 10px;
    }
    .accountInfo {
      display: flex;
      align-items: center;

      .image {
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        margin-right: 10px;
      }

      .name {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .xIcon {
      .icon {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/CD0TlRQIEkM.png");
        background-position: 0px -50px;
        background-size: 25px 577px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
}

.loginOther {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  &:hover {
    background-color: $background;
    border-radius: 10px;
  }

  .iconAdd {
    margin-right: 10px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 50%;
    background-color: $background;
    i {
      background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/T0oDwaG-b1o.png");
      background-position: 0px -151px;
      background-size: 25px 286px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }

  .loginText {
    font-size: 16px;
    font-weight: 500;
  }
}

.code {
  padding: 16px 18px;
  display: flex;

  align-items: baseline;
  .input {
    width: 200px;
  }
}

.signUpButton {
  border: none;
  text-align: center;
  width: 70%;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $green;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $green-hover;
    color: white;
  }

  &:focus {
    background-color: $green;
    color: white;
  }
}
