@import "styles/index.scss";

.storyDetail {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
}

.storyDetailLeft {
  width: 360px;

  margin-bottom: 30px;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  &:hover {
    overflow: auto;
  }
  .storyDetailLeftHeader {
    display: flex;
    padding: 10px;
    margin-left: 6px;
    .closeIcon {
      width: 40px;
      cursor: pointer;
      height: 40px;
      border-radius: 50%;
      background-color: $light-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      &:hover {
        background-color: $light-darker;
      }
    }
  }
}

.addStoryWrapper {
  margin-left: 16px;
  margin-bottom: 12px;
  .title {
    font-size: 18pt;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  .link {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .myStory {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .createStory {
    cursor: pointer;
    display: flex;
    .createStoryImage {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      background-color: $background;

      .icons {
        font-size: 20px;
        color: $blue;
      }
    }

    .createStoryText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        color: $secondary-text;
        margin-bottom: 0px;
      }
    }
  }
}

.storyList {
  margin: 0px 10px;

  .text {
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0px 5px 5px;
  }

  .storyItem {
    display: flex;
    padding: 5px 0px 5px 5px;
    align-items: center;
    .avatar {
      border: 3px solid $blue;
      border-radius: 50%;
      margin-right: 10px;
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid white;
      }
    }

    &:active {
      background-color: $gray-dark;
      border-radius: 10px;
    }
    &:hover {
      background-color: $gray-dark;
      border-radius: 10px;
    }

    .newItem {
      color: $blue;
    }
    .time {
      color: $secondary-text;
    }
  }
}

.storyDetailRight {
  height: 100vh;
  flex-grow: 1;
  background-color: black;
}

.storyDetailRightWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  .headerRight {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .mainStory {
    width: 424px;
    margin-top: 20px;
    height: 95vh;
    background-color: white;
    border-radius: 10px;
  }
}
