@import "styles/variables.scss";
.container {
  background-color: $background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  justify-content: center;
}

.contentLeft {
  img {
    height: 106px;
  }
  margin-right: 30px;
  margin-top: 30px;
  width: 49%;
  h2 {
    font-weight: 500 !important;
    font-size: 25px;
    margin-left: 35px;
  }
}

.contentRight {
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.loginButton {
  border: none;
  text-align: center;
  // width: 330px;
  border-radius: 6px;
  padding: 14px 16px;
  font-size: 20px;
  height: 55px;
  background-color: $green;
  font-weight: 500;
  color: white;

  &:hover {
    background-color: $green-hover;
    color: white;
  }

  &:focus {
    background-color: $green;
    color: white;
  }
}

.pageWrapper {
  position: relative;
}

.selectLanguage {
  position: absolute;
  top: 5%;
  right: 10%;
}

.modalSignUp {
  :global {
    .ant-modal-content {
      border-radius: 10px;
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}

.subTitle {
  font-size: 14px;
}

.signUpButton {
  border: none;
  text-align: center;
  width: 100%;
  border-radius: 6px;

  font-size: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $green;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $green-hover;
    color: white;
  }

  &:focus {
    background-color: $green;
    color: white;
  }
}

.select {
  :global {
    .ant-select-selector {
      border-radius: 7px !important;
    }
  }
}

.radioGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.radioGroupItem {
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 5px;
  :global {
    .ant-radio-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.questionMark {
  width: 12px;
  height: 12px;
  background-position: 0 -60px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yW/r/iE9yyunejFh.png");
  background-size: 22px 73px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
}
